-# Don't use this component directly
-# See: rizzo.lonelyplanet.com/styleguide/buttons
:ruby
  type = ""
  modifiers = ""

  if button[:type]
    type = " btn--#{button[:type]}"
  end

  if button[:modifiers]
    modifiers = " #{button[:modifiers]}"
  end

%a.btn{href: button[:href], class: "#{type}#{modifiers}"} #{button[:text]}
