- show_sub_nav = properties[:show_sub_nav].present?

.split--left.row__title--secondary
  .place-title.js-place-title{class: "icon--#{ properties[:icon] || "place--pin"}--before"}<>
    .place-title__wrapper{ class: "#{ properties[:primary_submenu] ? 'nav__submenu__trigger' : '' }"}
      %span.icon--chevron-down.nav__submenu__trigger--icon
      = render "components/navigation/submenu", item: properties[:primary_submenu], class_name: 'place-title__submenu', show_responsive_toggle: false, button_text: 'See All', button_url: "/#{properties[:slug] ? "#{properties[:slug].sub(/^\//, '')}/places" : ''}"

      - if properties[:no_place_link] == true || !properties[:slug]
        %span.place-title__heading.place-title--text.js-place-title-nav{ data: {slug: "/#{properties[:slug] ? properties[:slug].sub(/^\//, '') : ''}"}}<> #{properties[:title]}
      - else
        %a.place-title__heading.place-title--text{class: show_sub_nav ? "js-place-title-nav" : false, data: {slug: "/#{properties[:slug].sub(/^\//, '')}"}, href: "/#{properties[:slug].sub(/^\//, '')}"}<> #{properties[:title]}

    - if properties[:parent]
      %span.place-title__separator<> /
      .place-title__wrapper{ class: "#{ properties[:parent_submenu] ? 'nav__submenu__trigger' : '' }"}
        %span.icon--chevron-down.nav__submenu__trigger--icon
        = render "components/navigation/submenu", item: properties[:parent_submenu], class_name: 'place-title__submenu', show_responsive_toggle: false, button_text: 'See All', button_url: "/#{properties[:parent_slug].sub(/^\//, '')}/places" 

        %a.place-title__parent.place-title--text{class: show_sub_nav ? "js-place-title-nav" : false, data: {slug: "/#{properties[:parent_slug].sub(/^\//, '')}"}, href: "/#{properties[:parent_slug].sub(/^\//, '')}"}<>
          = properties[:parent]

= render "components/navigation/nav_item_tmpl"
