:ruby

  css_classes = [
    "user-attribution",
    "user-attribution--#{properties[:size]}",
    "theme--#{properties[:theme]}"
  ].join(" ")

- single_content_for :user_attribution_content do
  - if properties[:image]
    = safe_image_tag(properties[:image], class: 'user-attribution__avatar', alt: properties[:name])
  %span.user-attribution__source
    by 
  %span.user-attribution__username
    = properties[:name]

- if properties[:url]
  %a{ href: properties[:url], class: css_classes }
    = yield :user_attribution_content
- else
  %span{ class: css_classes }
    = yield :user_attribution_content
