<article class="articles">
  <h2 class="articles__heading">{{articles_title}}</h2>

  <div class="articles__list">
    {{#each articles}}
      <div id="ntvarticle-{{@index}}"></div>
      <article class="article" data-targeting='{ "position": "{{article_id}}"}'>
        <div class="article__info">
          <a class="article__info__link" href="{{url}}">
            <h2 class="article__info__title">{{title}}</h2>
            <p class="article__info__teaser">{{teaser1}}</p>
            <p class="article__info__blurb">{{teaser2}}</p>
          </a>

          <a class="article__info__author" href="{{author_url}}">
            {{#if author_image}}
              <img class="article__info__author__image" src="{{author_image}}">
            {{/if}}

            <div class="article__info__author__creds">
              <div class="article__info__author__creds__name">{{author_name}}</div>
              <div class="article__info__author__creds__title">{{author_title}}</div>
            </div>
          </a>
        </div>

        {{#if src}}
          <a class="article__imagery" href="{{url}}" tabindex="-1">
            <div class="article__imagery__image" aria-label="Image for {{title}}" style="background-image: url({{src}})"></div>
          </a>
        {{/if}}
      </article>
    {{/each}}
    {{#if show_ntv_div}}
    <div id="ntvarticle-2"></div>
    {{/if}}
  </div>

  {{#if local_articles}}
    <div class="articles__button-container">
      <a class="articles__more" href="{{see_more_url}}">
        Read more articles
        <span class="icon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  {{/if}}
  <div class="article__sponsor-ad js-article-sponsor-ad">
    <div class="adunit adunit--sponsor-logo display-none"
      id="sponsor-logo-article"
      data-size-mapping="sponsor-logo"
      data-targeting='{ "position": "article-list-last" }'>
    </div>
  </div>
</article>
