{{#if show_cards}}
  <article class="interests">
    <h2 class="interests__heading">{{ interests.title }}</h2>

    <section class="interests__cards interests__cards--{{ interests.count }}">
      {{#each interests.cards}}
        <a class="interests__card interests__card--{{ order }}" href="{{ url }}">
          <div class="interests__card--inner" style="background-image: url( {{ src }} )">

            <div class="interests__card__bottom">
              <span class="interests__card__link">
                {{ interest }}
              </span>
            </div>
          </div>
        </a>
      {{/each}}
    </section>

  </article>
{{/if}}
