<div class="author author--article author--contained author--vertical">
  {{#if article.author_details.url}}<a href="{{ article.author_details.url }}">{{/if}}
    <img class="avatar avatar--author avatar--large avatar--vertical"
      src="{{#if article.author_details.avatar_url}}{{ article.author_details.avatar_url }}{{else}}//assets.staticlp.com/profiles/users/placeholders/large.png{{/if}}"
      alt="">

    <div class="author__details">
      {{#if article.author_details.name}}
        <div class="author__name">
          {{{ article.author_details.name }}}
        </div><!-- .author__name -->
      {{/if}}

      {{#if article.author_details.title}}
        <div class="author__title">
          {{ article.author_details.title }}
        </div><!-- .author__title -->
      {{/if}}
    </div><!-- .author__details -->
  {{#if article.author_details.url}}</a>{{/if}}
</div><!-- .author -->
