<article class="article" data-title="{{ article.title }}" data-slug="{{ article.slug }}" itemscope itemtype="http://schema.org/Article">
  <meta content="{{ article.title }}" itemprop="headline">
  <meta content="{{ article.title }}" itemprop="alternativeHeadline">
  <meta content="{{ article.post_date }}" itemprop="datePublished">

  <div class="article__container">
    <header class="article-header is-narrow is-centered has-flexbox">
      <h1 class="article-header__title is-xlarge">
        {{ article.title }}
      </h1>

      <div class="article-header__title is-xsmall is-padded-bottom js-header-title">
        Tips &amp; articles

        <div class="adunit adunit--sponsor-logo display-none js-sponsor-logo"
          data-size-mapping="sponsor-logo"
          data-targeting='{ "position": "header" }'>
        </div>
      </div>
    </header>

    {{> "components/author/author"}}

    {{> "components/article_body/article_body"}}

    {{> "components/ads/ad_article_sponsor" }}

    <footer class="article__footer js-article-footer">
      <div class="post-date in-article-footer js-article-post-date" hidden>
        Published <time datetime="{{ article.post_date }}"></time>
      </div>

      {{> "components/social_share/social_share_article"}}
    </footer>
  </div>
</article>
