<li class="ttd__item js-ttd-item">
  <a class="image-card" href="{{card.url}}">
    <div class="image-card__image js-image-card-image" data-image-url="{{card.src}}" data-backupimage-url="https://s3.amazonaws.com/static-asset/destinations-next/images/{{card.order}}-ttd-image.jpg"></div>
    <div class="image-card__content">
      <div class="image-card__marker">
        {{card.card_num}}
      </div>
      <p class="image-card__subtitle">{{card.subtitle}}</p>
      <h3 class="image-card__title js-image-card-title">{{card.title}}</h3>
    </div>
  </a>
</li>
