{{#if books }}
  <article class="guidebook">
    <header class="guidebook__header">
      <h2 class="guidebook__title">{{ title }}</h2>
      {{#if subtitle }}
        <p class="guidebook__subtitle">{{{ subtitle }}}</p>
      {{/if}}
    </header>

    <a class="guidebook__pictures {{#unless second_image}}guidebook__pictures--single{{/unless}}" href="{{ store_link_href }}" tabindex="-1">
      {{#with first_image}}
      <picture class="guidebook__picture guidebook__picture--primary">
        <source media="(min-width: 1230px)"
          srcset="{{large.normal}} 1x,
                  {{large.hq}} 2x,
                  {{large.lossless}} 3x">

        <source media="(min-width: 500px)"
          srcset="{{medium.normal}} 1x,
                  {{medium.hq}} 2x,
                  {{medium.lossless}} 3x">

        <source media="(min-width: 200px)"
          srcset="{{small.normal}} 1x,
                  {{small.hq}} 2x,
                  {{small.lossless}} 3x">

        <img class="guidebook__image"
          alt="Image for {{ title }}"
          srcset="{{small.normal}} 1x,
                  {{small.hq}} 2x,
                  {{small.lossless}} 3x">
      </picture>
      {{/with}}

      {{#if second_image}}
      {{#with second_image}}
      <picture class="guidebook__picture guidebook__picture--secondary">
        <source media="(min-width: 1230px)"
          srcset="{{large.normal}} 1x,
                  {{large.hq}} 2x,
                  {{large.lossless}} 3x">

        <source media="(min-width: 500px)"
          srcset="{{medium.normal}} 1x,
                  {{medium.hq}} 2x,
                  {{medium.lossless}} 3x">

        <source media="(min-width: 200px)"
          srcset="{{small.normal}} 1x,
                  {{small.hq}} 2x,
                  {{small.lossless}} 3x">

        <img class="guidebook__image"
          alt="Image for {{ title }}"
          srcset="{{small.normal}} 1x,
                  {{small.hq}} 2x,
                  {{small.lossless}} 3x">
      </picture>
      {{/with}}
      {{/if}}
    </a>

    <aside class="guidebook__info">
      <p class="guidebook__blurb">{{ blurb }}</p>
      <a class="guidebook__button button" href="{{ store_link_href }}" role="button">Go to store</a>
    </aside>
  </article>
{{/if}}
