- price_parts = properties[:price].to_s.split(".")
- discount_modifier = properties[:on_sale?] ? "tag--price--discount" : nil
- size_modifier = properties[:size] ? "tag--price--#{properties[:size]}" : nil

.tag.tag--price.js-price-tag{ id: properties[:id] ? properties[:id] : nil, class: "#{discount_modifier} #{size_modifier}"}
  .tag--price__inner
    .tag--price__values
      from
      .tag--price__amount<>
        %span.tag--price__currency.js-currency<>
          != properties[:currency]
        %span.js-price<>
          = price_parts.first
          %span.tag--price__decimal<>
            = price_parts.length == 2 ? ".#{price_parts.last}" : ""

      - if properties[:scope]
        %span.tag--price__scope.js-scope<>
          = properties[:scope]

    - if properties[:on_sale?]
      .tag--price__retail.js-price-retail<>
        != properties[:currency]
        = properties[:retail_price]
