{{#if food_and_drink}}

<article class="food-and-drink">
  <h2 class="food-and-drink__heading">{{title}}</h2>


  {{#if food_accent}}
    <img class="food-and-drink__image" src="{{food_accent}}" alt="{{title}} accent image">
  {{/if}}

  <div class="food-and-drink__inner">
    <ol class="food-and-drink__list">
      {{#each food_and_drink.items}}
        <li class="food-and-drink__item" data-index="{{@index}}">
          <a href="http://www.lonelyplanet.com/{{url}}" itemscope itemtype="http://schema.org/FoodEstablishment">

            <div class="food-and-drink__title" itemprop="name">
              <span class="food-and-drink__name">{{name}}</span>
              {{#if show_location}}
              <span class="food-and-drink__location" itemprop="name">in {{location}}</span>
              {{/if}}
            </div>
            
            <div class="food-and-drink__categories" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
              {{#if tags}}
                {{#each tags}}
                  <span itemprop="category">{{this}}</span>
                {{/each}}
              {{/if}}
            </div>
          </a>
        </li>
      {{/each}}
    </ol>
  </div>

  <div class="food-and-drink__button-container">
    <a class="food-and-drink__more" href="{{see_more_url}}">
      See More
      <i class="icon-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

</article>

{{/if}}
