:ruby
  show_description = item[:show_description] || true
  item_title = item[:name] || item[:title]
  item_href = item[:path] || item[:href] || item[:url] || item[:slug]
  item_data = { 'item-kind' => "stack:#{item[:section]}" }

  item_classlist = "#{item[:extra_style]} js-#{item[:section]}-item icon--chevron-right--after icon--body-grey--after"
  item_classlist += " #{item[:active] ? 'is-active' : ''}"
  if item[:icon]
    item_classlist += " nav--left__item--icon icon--#{item[:icon]}--before icon--body-grey--before"
  end

%a.nav--left__item{href: item_href, class: "#{item_classlist}", data: item_data}<
  = item_title

  - if item[:count]
    %span{class: 'nav--left__item__facet'} (#{item[:count]})
