- unless @no_footer
  .wrapper--footer.js-wrapper
    - if ads_footer
      = render 'layouts/partials/snippets/footer_leaderboard'
    - if nav_sitemap
      = render 'layouts/partials/snippets/footer_sitemap'
    - if about
      = render 'layouts/partials/snippets/footer_about', language_select: languages

- if include_js
  = render 'layouts/partials/snippets/footer_js', third_party: third_party

= render 'layouts/partials/snippets/pointer_cover'

- if legacy_lp && include_js
  .js-config.is-hidden
    %script{type: "text/javascript", async: true, src: "#{normalised_asset_path('requirejs/require.js')}", data: {main: "#{async_js_path("app_core_legacy")}"}}
