= yield :meta
%meta{ charset: "utf-8" }
%meta{ name: "author", content: "Lonely Planet" }
%meta{ name: "theme-color", content: "#1D508D" }

- unless third_party
  %meta{name: "fb:app_id", content: "111537044496"}

- if default_title
  %title
    = content_for?(:head_title) ? yield(:head_title) : 'Lonely Planet Travel Guides and Travel Information'

= yield :dns_prefetch
%link{ rel: "dns-prefetch", href: "http://assets.staticlp.com" }

%link{rel: "stylesheet", href: "#{asset_path('rizzo-next.css')}"}

%link{ rel: "icon", type: "image/x-icon", href: "https://www.lonelyplanet.com/favicon.ico" }

%meta{ name:"viewport", content: responsive && !@fixed_width_layout ? "width=device-width, initial-scale=1" : "width=1024" }

- if include_js && app_core
  - content_for(:async_js) { "app_core_external" }

= csrf_meta_tags

- if include_js
  = render 'layouts/partials/snippets/head_js', third_party: third_party
  - if tynt
    = render 'layouts/partials/inline_js/tynt'

- if legacy_lp
  = smart_stylesheet('core_legacy')
  = static_ui_stylesheet('app-core-legacy', (defined? secure) ? secure : false)
- else
  = smart_stylesheet("core#{@fixed_width_layout ? '_fixed_width' : ''}")

= yield :stylesheets
= yield :pagination_links_rels
= yield :place_hotels_link

- if legacy_lp && include_js
  %script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  = static_ui_script('lp-js-library-legacy', (defined? secure) ? secure : false)
