{{#if survival_guide.items}}

<div class="survival-guide">
  <h2 class="survival-guide__heading">{{survival_guide.title}}</h2>

  <ul class="survival-guide__list">
    {{#each survival_guide.items}}
    <li class="survival-guide__item">
      <a class="survival-guide__link" href="{{../survival_guide.item_url}}{{slug}}">
        <svg class="survival-guide__icon svg-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-{{icon}}"></use>
        </svg>

        <h3 class="survival-guide__title">{{title}}</h3>
        <p class="survival-guide__blurb">{{blurb}}</p>
      </a>
    </li>
    {{/each}}
  </ul>

  <div class="survival-guide__button-container">
    <a class="survival-guide__more" href="{{survival_guide.see_more_url}}">
      See More
      <i class="icon-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
</div>

{{/if}}
