<section class="top_places{{#if centered}} top_places{{ centered }}{{/if}}">
  <button class="top_places__close icon-close-small" type="button">Close</button>

  <div class="top_places__content">
    <div class="top_places__wrap">
      {{!-- top countries --}}
      {{#if top_places.top_countries }}

      <div class="top_places__column">

        <div class="tlist">
          <h2 class="tlist__heading">countries in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__primary">
              {{#each top_places.top_countries}}
              <li class="tlist__primary-item">
                <a class="tlist__primary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Countries {{name}}">
                  <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                  <div class="tlist__marker"></div>
                  <div class="tlist__title">{{ name }}</div>
                </a>
              </li>
              {{/each}}
            </ul>

            {{#if top_places.countries }}
            <ul class="tlist__secondary">

              {{#each top_places.top_countries}}
              <li class="tlist__secondary-item tlist__secondary-item--top">
                <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Countries {{name}}">{{ name }}</a>
              </li>
              {{/each}}
              {{#each top_places.countries}}
              <li class="tlist__secondary-item">
                <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Countries {{name}}">{{ name }}</a>
              </li>
              {{/each}}
            </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//www.lonelyplanet.com/{{ slug }}/places">
            More countries in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}

      {{!-- cities --}}
      {{#if top_places.top_cities}}

      <div class="top_places__column">

        <div class="tlist">
          <h2 class="tlist__heading">cities in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__primary">
              {{#each top_places.top_cities}}
                <li class="tlist__primary-item">
                  <a class="tlist__primary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Cities {{ name }}">
                    <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                    <div class="tlist__marker"></div>
                    <div class="tlist__title">{{ name }}</div>
                    <div class="tlist__subtitle">{{ country_name }}</div>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if top_places.cities}}
              <ul class="tlist__secondary" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Cities">
                {{#each top_places.top_cities}}
                  <li class="tlist__secondary-item tlist__secondary-item--top">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Cities {{ name }}">{{ name }}</a>
                  </li>
                {{/each}}
                {{#each top_places.cities}}
                  <li class="tlist__secondary-item">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Cities {{ name }}">{{ name }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//www.lonelyplanet.com/{{ slug }}/places">
            More places in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}

      {{!-- generic places (for regions) --}}
      {{#if top_places.top_places}}

      <div class="top_places__column">

        <div class="tlist">
          <h2 class="tlist__heading">places in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__primary">
              {{#each top_places.top_places}}
                <li class="tlist__primary-item">
                  <a class="tlist__primary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Places {{ name }}">
                    <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                    <div class="tlist__marker"></div>
                    <div class="tlist__title">{{ name }}</div>
                    <div class="tlist__subtitle">{{ country_name }}</div>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if top_places.places}}
              <ul class="tlist__secondary" data-lpa-category="Destinations Next">
                {{#each top_places.top_places}}
                  <li class="tlist__secondary-item tlist__secondary-item--top">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Places">{{ name }}</a>
                  </li>
                {{/each}}
                {{#each top_places.places}}
                  <li class="tlist__secondary-item">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Places">{{ name }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//www.lonelyplanet.com/{{ slug }}/places">
            More places in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}

      {{!-- neighborhoods --}}
      {{#if top_places.top_neighborhoods}}
      <div class="top_places__column">

        <div class="tlist">
          <h2 class="tlist__heading">neighborhoods in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__primary">
              {{#each top_places.top_neighborhoods}}
                <li class="tlist__primary-item">
                  <a class="tlist__primary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Neighborhoods {{ name }}">
                    <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                    <div class="tlist__marker"></div>
                    <div class="tlist__title">{{ name }}</div>
                    <div class="tlist__subtitle">{{ country_name }}</div>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if top_places.neighborhoods}}
              <ul class="tlist__secondary">
                {{#each top_places.top_neighborhoods}}
                  <li class="tlist__secondary-item tlist__secondary-item--top">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Neighborhoods {{ name }}">{{ name }}</a>
                  </li>
                {{/each}}
                {{#each top_places.neighborhoods}}
                  <li class="tlist__secondary-item">
                    <a class="tlist__secondary-link" href="/{{ slug }}" data-lpa-category="Destinations Next" data-lpa-action="Navigation Click" data-lpa-label="Top Neighborhoods {{ name }}">{{ name }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//www.lonelyplanet.com/{{ slug }}/places">
            More neighborhoods in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}
    </div>
  </div>
</section>
