= render 'styleguide/partials/shared'

:ruby
  badge_stub = styleguide_stubs('badges')
  badges = badge_stub['badges']
  variation = badge_stub['variation']
  template = File.read(File.expand_path("../../../components/_badge.html.haml", __FILE__))

.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1 Badges
  %p.copy--h2 Please note: 
  %p
    Badges do not call this component directly as the abstraction would be overkill. badges should always look like these through a combination of the modifier classes detailed below and in 
    %a{href: 'https://github.com/lonelyplanet/rizzo/blob/master/app/assets/stylesheets/components/_badges.sass'}
      badges.sass

.styleguide-block.styleguide-block__badges
  - count = 0
  - badges.each_with_index do | badge, i |
    .styleguide-block__description.card.copy--body
      %h2.copy--h2.styleguide-block__heading
        = badge[:styleguide_title]

      .styleguide-block__items.media
        .styleguide-block__item{class: "media__img styleguide-block__item--#{count}"}
          = ui_component("badge", properties: badge)
        %pre.styleguide.copy--body.language-markup.media__body
          %code #{raw(CGI::escapeHTML(Haml::Engine.new(template).render(template, properties: badge)))}

