= render 'styleguide/partials/shared'

- components = styleguide_stubs('forms')

.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1
    Forms

  %h5.copy--h2
    Basic element components
  %p
    These components are the basic building blocks for creating forms. Each of these elements can be used
    individually throughout the site, however it's recommended to use the field components when building
    forms in order to take advantage of their accessibility and responsive features.

- components['form_components'].each_with_index do |component, i|
  = styleguide_component("forms/#{component[:styleguide_title].downcase.split(' ').join('_')}", properties: component, count: i)

.card.styleguide-intro.styleguide-block

  %h5.copy--h2
    Field components


- components['field_components'].each_with_index do |component, i|
  = styleguide_component("forms/#{component[:styleguide_title].downcase.split(' ').join('_')}", properties: component, count: i)
