<div class="article-body is-narrow has-legacy-code js-article-body" itemprop="articleBody" data-post-date="{{ article.post_date }}">
  <div class="article-body__content">
    {{{ article.content.head }}}
  </div><!-- .article-body__content -->

  {{#if article.guidebook}}
    <a class="related-guidebook related-guidebook--article" href="{{ article.guidebook.url }}">
      <img class="related-guidebook__image" src="{{ article.guidebook.image }}" alt="">

      <div class="related-guidebook__container">
        <h4 class="related-guidebook__title js-related-guidebook-title">
          {{ article.guidebook.title }}
        </h4>

        {{#if article.guidebook.price }}
          <p class="related-guidebook__heading">
            {{{ article.guidebook.price }}}
          </p>
        {{/if}}

        <p class="related-guidebook__content js-related-guidebook-content">
          {{ article.guidebook.content }}
        </p>

        {{#if article.guidebook.url}}
          <span class="related-guidebook__link">
            Visit Shop
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </span>
        {{/if}}
      </div><!-- .related-guidebook__container -->
    </a><!-- .related-guidebook -->
  {{/if}}

  <div class="article-body__content">
    {{{ article.content.tail }}}
  </div><!-- .article-body__content -->
</div><!-- .article-body -->
