:ruby
  tooltip = properties[:tooltip]

  if properties[:selected]
    selected_title = properties[:options].find{ |option| option[:value] == properties[:selected] || option[:title] == properties[:selected] }.try(:[], :title)
  end

  select_properties = {
    id: properties[:id],
    name: properties[:name],
    data: properties[:data],
    class: properties[:dropdown_class],
    disabled: properties[:disabled],
    required: properties[:required]
  }

.dropdown.js-select-group-manager{ class: "#{properties[:class]}#{properties[:disabled] ? ' is-disabled' : ''}#{!tooltip.nil? ? ' tooltip--container' : ''}" }
  
  - if properties[:label]
    %label.accessibility{ for: properties[:id] }
      = properties[:label]

  .dropdown__value.js-select-overlay.icon--chevron-down--after{ aria: { hidden: true } }
    = selected_title || properties[:placeholder] || properties[:options].first.try(:[], :title)

  %select.dropdown__select.js-select{ select_properties }

    - if properties[:placeholder]
      %option{ value: "" }<
        = properties[:placeholder]

    - properties[:options].each do |option|
      %option{value: option[:value] || option[:title], disabled: option[:disabled], data: option[:data], selected: (properties[:selected] && (properties[:selected] == option[:value] || properties[:selected] == option[:title])) ? 'selected' : false}<
        = option[:title]

  = render partial: 'components/forms/partials/tooltip', locals: { tooltip: tooltip }
