!!! 5
<!--[if IE 7]><html class='no-js ie7 no-freight base #{yield :document_class}' data-topic="#{yield :topic}" lang='en'><![endif]-->
<!--[if IE 8]><html class='no-js ie8 no-freight base #{yield :document_class}' data-topic="#{yield :topic}" lang='en'><![endif]-->
<!--[if IE 9]><html class='no-js ie9 no-freight base #{yield :document_class}' data-topic="#{yield :topic}" lang='en'><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js no-freight base #{yield :document_class}' data-topic="#{yield :topic}" lang='en'><!--<![endif]-->
