.js-config.is-hidden
  = render 'layouts/partials/inline_js/fonts_async' unless third_party
  = render 'layouts/partials/inline_js/fs_init'
  = render 'layouts/partials/inline_js/base_js_async' unless third_party
  = yield :scripts

  = js_configuration
  - if defined?($JS_VARS)
    :javascript
      #{js_hash($JS_VARS)}

  = render 'layouts/partials/inline_js/social_remarketing' unless third_party
