.row.row--footer--about(role="contentinfo")
  .row__inner.row__inner--full-width
    .wv--split--left.nav--inline
      %a.wv--inline-block.nav__item.row--footer--about__logo.media--lp-logo.icon--lp-logo(href='http://www.lonelyplanet.com')
      %nav.nav__item.wv--nav--inline(role="navigation" aria-label="About Lonely Planet" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement")
        %h6.accessibility About Lonely Planet
        - footer_nav_about_items.each do |item|
          %a.nav__item.nav__item--about{href: "http://www.lonelyplanet.com#{item[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = item[:title].html_safe

    .wv--split--right
      .nav--inline.nav--social.split--right__inner
        %a.wv--hidden.row--footer--social__logo.media--lp-logo.icon--lp-logo(href='http://www.lonelyplanet.com')
        %nav.nav--social__inner.nav__item(role="navigation" aria-label="Social media links" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement")
          %h6.accessibility Social media links
          .nav--inline
            - social_media_nav.each do |item|
              %a.nav__item.nav__item--social{href: "#{item[:url]}", class: "icon--#{item[:title]}"}(itemprop="url")
                %span(itemprop="name")
                  = item[:title].capitalize

.row.row--smallprint
  .row__inner.row__inner--footer.row--smallprint__inner
    .wv--split--left.text--legal.copy--disclaimer
      %p
        &copy;
        = Time.now.year
        Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.

    - if language_select
      :ruby
        dropdown = { id: "languageSelect", name: "url", options: [], data: { form_submit: "true" } }

        language_options.each do |d|
          dropdown[:options].push({ title: d[1].html_safe, value: d[0] })
        end

      .wv--split--right.form--international
        .split--right__inner.nav--inline.form--language.media
          %label.nav__item.form--language__label.title--footer.media__img International
          .media__body
            = ui_component('navigation/dropdown', properties: { action: '//www.lonelyplanet.com/redirector', dropdown: dropdown })
