= render 'layouts/partials/snippets/doctype_declaration'

%head
  = render 'layouts/custom/head', tynt: (defined?(tynt) ? tynt : true), include_js: true, responsive: true, third_party: false, legacy_lp: false, app_core: false, default_title: true

%body.responsive
  = ui_component('lightbox')
  %script#tmpl-preloader{ type: 'text/html' }
    = ui_component('preloader')
  = render 'layouts/custom/pre_header', third_party: false
  .wrapper.js-wrapper
    - unless @no_nav
      = render 'layouts/custom/post_header', legacy_header: false, search: true, user_nav: true, include_js: true, nav_primary: true, responsive: true, ads_header: true

    .row.row--content{id: @no_wallpaper ? "" : "js-row--content"}
      - if (yield :secondary).present?
        .row.row--secondary#js-secondary-nav
          .row__inner.row__inner--secondary.row__inner--full-width
            = yield :secondary
      - if (yield :alerts).present?
        .row.row--alerts
          = yield :alerts

      = yield

    = yield :breadcrumbs
    = render 'layouts/custom/footer', include_js: true, ads_footer: (defined?(ads_footer) ? ads_footer : false), nav_sitemap: true, about: true, languages: true, third_party: false, legacy_lp: false

    - if defined? Variant
      /
        = "build: #{Variant.full_namespace}"
